streamlit
pydantic
openai
groq
aiohttp>=3.9
aiolimiter>=1.1
beautifulsoup4>=4.12
tqdm>=4.66
trafilatura>=1.6
readability-lxml>=0.8.1
langchain>=0.3
langchain-community>=0.3
faiss-cpu>=1.8
sentence-transformers>=3.0
tldextract>=5.1
urllib3>=2.2
pinecone
async_timeout
requests
numpy
lxml[html]
